 /* .customShadow{
  box-shadow: 1px 0px 10px rgba(48, 48, 48, 0.2);
}  */
/**userTable*/
/* .userTable{
  @apply bg-slate-50 

}
.userTable thead{
  @apply bg-black

}
.userTable th{
  @apply border  font-semibold text-white text-center text-sm

}
.userTable td{
  @apply border  font-light text-black text-balance pl-4 text-xs

}*/
/* .main-content {
  padding-top: 5rem;
  padding-left: 1rem;
}  */
